<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link
        rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Normal CSS -->
        <title>Bill Me Portal</title>
        <script src="https://kit.fontawesome.com/508d83f98e.js" crossorigin="anonymous"></script>
        <style>
            .line{
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <!-- navbar starts from here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand font-weight-bold" href="/home/<%= userdetails.username %>">
                <span>
                    <i class="fa-sharp fa-solid fa-file-invoice-dollar fa-xl"></i>
                </span>
                Bill Me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold mr-4 mb-1" href="/home/<%= userdetails.username %>">
                            <i class="fa-solid fa-house mr-1"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold mr-4 mb-1" href="/history/<%= userdetails.username %>">
                            <i class="fa-solid fa-clock-rotate-left mr-1"></i>History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold mr-4 mb-1" href="/lend/<%= userdetails.username %>">
                            <i class="fa-solid fa-file-arrow-up mr-1"></i>Lend</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold mr-4 mb-1" href="/borrow/<%= userdetails.username %>">
                            <i class="fa-solid fa-file-arrow-down mr-1"></i>Borrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold mr-4 mb-1" href="/todo/<%= userdetails.username %>">
                            <i class="fa-solid fa-rectangle-list mr-1"></i>Todo</a>
                    </li>
                    <li class="nav-item">
                        <form action="/" method="get">
                            <button class="btn btn-dark">
                                <i class="fa-solid fa-right-from-bracket mr-1"></i>Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>